<section class="section-about" id="about">
  <div class="container">
    <h2 class="visually-hidden">About</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-house" width="33" height="31">
            <use href="./images/sprite/symbol-defs.svg#icon-house"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Бізнес план</h3>
        <p class="about-text">
          Побудова фінансової моделі майбутньої пекарні.Укладвання договору про
          співпрацю.
        </p>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-book" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Розробка проєкту</h3>
        <p class="about-text">
          Перевірка майбутнього об'єкта на відповідність критеріям.
        </p>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-pen" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-pen"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Запуск та підтримка</h3>
        <p class="about-text">
          Навчання персоналу, підтримка роботи пекарні на протязі дії договору
        </p>
      </li>
    </ul>
  </div>
</section>
