<section class="prof" id="prof">
  <div class="container">
    <p class="section-top-title dark">Хто ми</p>
    <h2 class="section-title dark">Наша професійна команда</h2>
    <p class="section-description dark">можна написати ще текст</p>
    <ul class="prof-list list">
      <li class="prof-item">
        <img class="prof-image"
          src="./images/section-professional/Ilya.jpg"
          alt="John Doe"
          width="420"
          
        />
        <div class="prof-content">
          <h3 class="prof-name">Ілля Сагайдачний</h3>
          <p class="prof-position">Шеф кухар</p>
        </div>
      </li>
      <li class="prof-item">
        <div class="prof-wrapper">
          <img class="prof-image"
            src="./images/section-professional/Evgen1.jpg"
            alt="Jane Doe"
            width="420"
            
          />

          <div class="prof-content">
            <h3 class="prof-name">Евгеній Петраков</h3>
            <p class="prof-position">Директор</p>
          </div>
          <!-- <ul class="social-list list">
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="35" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="35" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-twitter"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="40" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-youtube"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="31" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-linkedin"
                  ></use></svg
              ></a>
            </li>
          </ul> -->
        </div>
      </li>
      <li class="prof-item">
        <img class="prof-image"
          src="./images/section-professional/Oleksiy1.jpg"
          alt="Олексій Ступенко"
          width="420"
          
          />
        <div class="prof-content">
          <h3 class="prof-name">Олексій Ступенко</h3>
          <p class="prof-position">Шеф Кухар</p>
        </div>
      </li>
    </ul>
  </div>
</section>
