<div class="container">
    <div class="item_box">
      <h3 class="item_title">Samsung Galaxy S10</h3>
      <p>Ціна: <span class="item_price">20</span>$</p>
      <button class="add_item" data-id="7">до кошика</button>
      <button class="away_item" data-id="7">видалити</button>
    </div>
    <div class="item_box">
      <h3 class="item_title">LG Optimus G E100500</h3>
      <p>Ціна: <span class="item_price">100</span>$</p>
      <button class="add_item" data-id="2">до кошика</button>
      <button class="away_item" data-id="2">видалити</button>
    </div>
      <div class="item_box">
      <h3 class="item_title">Nokia 2110</h3>
      <p>Ціна: <span class="item_price">1000</span>$</p>
      <button class="add_item" data-id="5">до кошика</button>
      <button class="away_item" data-id="5">видалити</button>
    </div>

    <div class="item_box">
      <h3 class="item_title">Nokia 1100</h3>
      <p>Ціна: <span class="item_price">700</span>$</p>
      <button class="add_item" data-id="3">до кошика</button>
      <button class="away_item" data-id="3">видалити</button>
    </div>
    
    

    <div class="cart_overlay">
        <h2>КОШИК</h2>
        
      <div id="cart_content"></div>
      <button id="checkout">Оформити замовлення</button>
      <button id="clear_cart">Очистити кошик</button> 
    </div>
  </div>
    

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>

    <script defer src="js/cart.js"></script>