<section class="solution">
  <div class="container">
    <img
      class="solution-img"
      src="./images/section-team/baker-man.jpg"
      alt="our team"
      width="680"
      height="460"
      loading="lazy"
    />

    <div class="solution-content-wrapper">
      <p class="section-top-title light">
        Більше 30 видів випічки за доступною ціною
      </p>
      <h2 class="section-title light">
        Файна перепічка - це наша любов, з якою ми ділимось кожен раз з Вами
        через нашу випічку
      </h2>
      <p class="section-description light">
        Файна перепічка - це молода, але швидко розвиваюча мережа свіжої випічки
        за доступними цінами. Ми працюємо з 2022 року, але вже всигли
        зарекомендувати себе як надійний партнер. Відкриваючи свій власний
        бізнес з "Файна випічка" Ви отримуєте стабільний, динамічний розвиток,
        окупність вкладення 10 місяців, після, стабільний прибуток. Хочете
        дізнатись докладніше? Заповніть форму зворотнього зв'язку, ми Вам
        зетелефонуємо.
      </p>
      <button class="solution-btn" type="button">Read More</button>
    </div>
  </div>
</section>
