.gallery-shop {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;

  justify-content: space-between;

}

.gallery-shop {
  
}





.gallery-product {
  // position: relative;
  // display: block;
  // margin: 0 auto;
  // flex-basis: calc((100% - 4px) / 3);

}

.gallery-product {
  // @media screen and (max-width: 765px) {
  //   width: 100%;
  //   max-width: 728px;
  // }

  // cursor: pointer;
  // transition: scale 250ms var(--button-activ-color),
    // filter 250ms var(--primary-text-color);

  &:hover {
    scale: 1.05;
    filter: drop-shadow(0 8px 10px var(--green-background));
  }
}

.gallery-product-img {
//   display: block;
//   width: 340px;
//   // height: 100%;
//   border-radius: 5px;
//   object-fit: cover;
// margin: 0 auto;
  
}

.gallery-poster-title {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  // @media screen and (min-width: $tablet) {
    
    // width: 336px;
  // }
  // @media screen and (min-width: $desktop) {
  
    // width: 394px;
  // }
}

.gallery-poster-text {
  
  
  // color: var(--button-activ-color);
  
  // @media screen and (min-width: $tablet) {
   
  // }
  // @media screen and (min-width: $desktop) {
  
  // }
    splay: block;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--button-activ-color)
}

.date-befor::before {
  content: '';
  display: inline-block;
  background-color: var(--card-gap);
  height: 8px;
  width: 1px;
  margin-right: 4px;
  margin-left: 4px;

  // @media screen and (min-width: $desktop) {
  //   height: 15px;
  //   width: 2px;
  //   margin-right: 6px;
  //   margin-left: 6px;
  // }
}

.gallery-poster-description {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 280px;
  // margin-bottom: 4px;
  // @media screen and (min-width: $tablet) {
    // width: 336px;
    // margin-bottom: 16px;
  // }
  // @media screen and (min-width: $desktop) {
    // width: 394px;
  // }
}

.film-rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  margin-left: 8px;
  border-radius: 5px;
  background-color: var(--button-activ-color);

  // @media screen and (min-width: $desktop) {
  //   width: auto;
  //   height: 20px;
  // }
}


