.hero {
  margin: 0 auto;
  max-width: 100%;
  
  
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/background-overlay/hero-section-background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: grey;
  padding-top: 279px;
  padding-bottom: 204px;
  text-align: center;

  @media screen and (min-width: 320px)and (max-width: 767px) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(      
      0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), 
    url(../images/background-overlay/hero-section-background480.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
  }
  }

  
    

  &-button-icon {
    margin-right: 6px;
  }

  &-title {
    margin-bottom: 25px;

    color: var(--hero-color-text);

    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-weight: 300;
      font-size: 35px;
      line-height: 1.0;
      margin-bottom: 15px;
      }
  }

  &-description {
    color: var(--hero-color-text);
    margin-bottom: 29px;

    font-size: 22px;
    line-height: 1.68;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 20px;
      }
  }

  &-button {
    @extend .button;

    width: 200px;
    background-color: var(--green-background);
  }
}
